*{
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 175%;
    font-size: 20px;
}



html{
    
}

body{
    height: 100vh;
    background-color: rgba(132, 188, 213, 1);
    background-size: cover;
    overflow: scroll;
    
    min-width: 1536px;
}


.banner{
    padding: 10px;
    background-color: rgba(68, 103, 161, 1);
    color: white;
    width: 100%;
}


.banner:hover{
    background-color: rgba(255, 192, 113, 1);
    color: rgba(184, 69, 67, 1);
    transition: .5s;
}


.tab{
    overflow: hidden;
    padding: 10px;
}






.article{
    background-color: yellow;
}


.tablink{
    width: 200px;
    border-style: none;
}


.tablink:hover{
    background-color: rgba(146, 223, 227, 1);
    transition: .5s;
}


.tablink:active{
    background-color: rgba(255, 205, 42, 1);
    transition: .5s;
}


.inactive{
    display: none;
    transition: 0.5s;
}




.image{
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
}


.title{
    margin: 10px;
}



.content{
    padding: 20px;
    
}


.content-text{
    margin-right: 30px;
}


.button{
    border-style: hidden;
}


.card-image{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}



.card-title{
    margin: 10px;
    margin-left: 10px;
}



.card-body{
    background-color: rgba(245, 223, 113, 1);
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    margin-left: -170px;
}


.position-title{
    font-size: 26px;
}



.contact-title{
    font-size: 26px;
}


.card{
    background-color: rgba(68, 103, 161, 1);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}



.card:hover{
    background-color: rgba(255, 139, 164, 1);
    transition: .5s;
}   




#logo{
    font-size: 36px;
    margin-left: 30px;
}


#tab-container{
    background-color: rgba(245, 223, 113, 1);
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
}


#tab-container:hover{
    background-color: rgba(255, 192, 113, 1);
    transition: .5s;
}



#card-container{
    height: 250px;
    margin-right: 20px;
}



#about{
    margin-left: 30px;
    padding: 20px;
    background-color: rgba(68, 103, 161, 1);
    margin-bottom: 60px;
    border-radius: 10px;
}



#about:hover{
    background-color: rgba(255, 139, 164, 1);
    transition: .5s;
}


#about-text{
    padding: 20px;
    background-color: rgba(245, 223, 113, 1);
    border-radius: 10px;;
}

#about-title{
    color: white;
}




#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 0;
    height: 30px;
}


#makers-mark{
    font-size: 12px;
}


#wrapper{
    margin-left:auto;
    margin-right:auto;
    width: 100vw;
    height: 100vh;
}